.DS_Store
*.egg-info/
*.ai
*.vim


*.py[cod]

# C extensions
*.so
*.dylib

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
tags

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sphinx
docs/html
