include README.md
include LICENSE.txt
include setup.py
include pisces/__init__.py
include pisces/client.py
include pisces/request.py
include pisces/util.py
include pisces/io/__init__.py
include pisces/io/mseed.py
include pisces/io/readwaveform.py
include pisces/io/sac.py
include pisces/io/trace.py
include pisces/io/util.py
include pisces/schema/__init__.py
include pisces/schema/antelope.py
include pisces/schema/css3.py
include pisces/schema/kbcore.py
include pisces/schema/util.py
include pisces/tables/__init__.py
include pisces/tables/antelope.py
include pisces/tables/css3.py
include pisces/tables/kbcore.py
include pisces/commands/__init__.py
include pisces/commands/main.py
include pisces/commands/sac2db.py
