include README.rst
include README.md
include LICENSE.txt
include setup.py
include pisces/__init__.py
include pisces/client.py
include pisces/request.py
include pisces/util.py
include pisces/io/__init__.py
include pisces/io/mseed.py
include pisces/io/readwaveform.py
include pisces/io/sac.py
include pisces/io/trace.py
include pisces/io/util.py
include pisces/io/src/convert/a2t4.c
include pisces/io/src/convert/b4t4.c
include pisces/io/src/convert/convdata.c
include pisces/io/src/convert/convert.h
include pisces/io/src/convert/f4f8t4t8.c
include pisces/io/src/convert/g2s4.c
include pisces/io/src/convert/i2s2.c
include pisces/io/src/convert/i2s4.c
include pisces/io/src/convert/i4s4.c
include pisces/io/src/convert/s2s4.c
include pisces/io/src/convert/s2t8.c
include pisces/io/src/convert/s3s4.c
include pisces/io/src/convert/s4t4.c
include pisces/io/src/convert/s4t8.c
include pisces/io/src/convert/t4t8.c
include pisces/io/src/e_compression/e_compression.c
include pisces/io/src/e_compression/e_compression.h
include pisces/schema/__init__.py
include pisces/schema/css3.py
include pisces/schema/kbcore.py
include pisces/schema/util.py
include pisces/tables/__init__.py
include pisces/tables/css3.py
include pisces/tables/kbcore.py
include pisces/commands/__init__.py
include pisces/commands/main.py
include pisces/commands/sac2db.py
include pisces_db.egg-info/PKG-INFO
include pisces_db.egg-info/SOURCES.txt
include pisces_db.egg-info/dependency_links.txt
include pisces_db.egg-info/requires.txt
include pisces_db.egg-info/top_level.txt
